REACT_APP_API_BASE_URL=http://localhost:4000/api
REACT_APP_UPLOADS_BASE_URL=http://localhost:4000/uploads

# Valores para producción (Vercel):
# REACT_APP_API_BASE_URL=https://skillmatchweb.onrender.com/api
# REACT_APP_UPLOADS_BASE_URL=https://skillmatchweb.onrender.com/uploads
